
:root {
    --primary-color: #fff;
    --secondary-color: #555;
    --text-color: #343a40;
    --body-bg: #ffffff;
    --color1: #725cff;
    --color2: #2884ff;
    --heading-color: #e6eef7;
    --small-text-color: #808191;
    --recommend: #e3ecf1;
  }